<script>
window.onscroll = ativa_timeline;
this.onload =ativa_timeline;
/*
Esse script tem como finalidade buscar itens em
um seletor específico, verificar quais são visíveis
na tela, e desses, qual o mais visível.
*/
function ativa_timeline(){
  console.log('ativando elementos');
  //buscando em todos os itens do seletor (nesse exemplo, ul li)
  //aqueles que queremos verificar se estão visiveis
  var elems = document.querySelectorAll('ul li');
  //h eh a altura da viewport
  var h =  window.innerHeight;
  var el_ativo = '';
  //essa variavel guarda a proporcao ideal (0.5). Iniciada em 1 para ser reinstanciada
  //a qualquer momento por um numero entre 0 e 1.
  var props_ideal = 1;
  for (var i=0;i<elems.length;i++){
    //pintando todos de verde, pra identificar.
    elems[i].style.backgroundColor = 'green';
    //pegando a posicao e tamanhos absolutos do objeto
    var viewportOffset= elems[i].getBoundingClientRect();
    //somando-se o topo com a metade da altura, temos a posicao
    //central do objeto
    //dividindo pela altura,temos a proporcao
    var props = (viewportOffset.top  + (viewportOffset.height/2)) /h;
    //soh nos interessam os valores entre 0 e 1 pq represetam elementos visiveis
    if (props>0 && props<1){
      //quando subtraimos 0.5, estamos tentando chegar no menor valor possível
      var rel_props = 0.5 - parseFloat(props);
      //colocando em módulo, temos o valor mais aproximado de zero.
      if (rel_props<0) {rel_props = -1.0*rel_props;}
      //estamos buscando o menor de todos, ou o mais visível
      if (rel_props <props_ideal){
        //associando o novo elementro mais visivel
        props_ideal = rel_props;
        el_ativo = elems[i];
      }
    }
  }
  //pintando o elemento mais visivel, para identificar
   el_ativo.style.backgroundColor = 'red';
}
</script>
<style>
body *, body{
  margin:0;
  padding:0;
  display: block;
}
ul li{
  width:100%;
  height: 80px;
  margin:10px;
  display:block;
}
</style>
<body>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</body>
